.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  grid-auto-rows: 1fr;
  margin: 0 auto;
  max-width: 1184px;
  list-style: none;
  padding: 0 0 12px;
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}
