.footer__wrapper {
  padding: 92px 0 32px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1184px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer__wrapper {
    padding: 64px 0 24px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
