.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #2a2c2f url(../../images/cover__background.png) no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 740px;
  margin: 92px auto 0;
  max-width: 1184px;
  box-sizing: border-box;
  text-align: center;
}

.cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2c2f;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}

.cover:hover::after{
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin: 43px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    max-width: 320px;
    margin: 66px auto 0;
    min-height: 200px;
  }
}
